<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- SPA routing: redirect everything to index.html -->
        <rule name="SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Ignore existing files -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- Ignore existing directories -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/Frank-Site/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
