<section class="about-page-container">
  <section class="about-page-main">
    <h1 L="about_me">About Me</h1>

    <p>
      <span L="about_hello">Hello stranger, I'm a native Cebuano citizen named</span>
      <span class="hover-card">
        <i style="color: var(--green);" L="about_name" L-args='["Franklyn"]'>Franklyn</i>
        <img src="/assets/img/person-me.png" alt="Franklyn">
      </span>
      <span L="about_description">an active software developer, vibe
        coding, with a few years of experience
        building and maintaining software.</span>
    </p>

    <app-contact-detail></app-contact-detail>
  </section>

</section>