<section class="skill-galaxy-wrapper">

  <div class="galaxy-container">
    <div class="center-hub">
      <h1 L="proficiencies">PROFICIENCIES</h1>
    </div>

    <div class="satellites-container">
      <div class="satellite">
        <div class="glass-card"><img src="/assets/img/html5.svg" alt="HTML"></div>
      </div>
      <div class="satellite">
        <div class="glass-card"><img src="/assets/img/css3.svg" alt="CSS"></div>
      </div>
      <div class="satellite">
        <div class="glass-card"><img src="/assets/img/js.svg" alt="JS"></div>
      </div>
      <div class="satellite">
        <div class="glass-card"><img src="/assets/img/ts.svg" alt="TS"></div>
      </div>
      <div class="satellite">
        <div class="glass-card"><img src="/assets/img/angular.svg" alt="Angular"></div>
      </div>
      <div class="satellite">
        <div class="glass-card"><img src="/assets/img/c-sharp.svg" alt="C#"></div>
      </div>
      <div class="satellite">
        <div class="glass-card"><img src="/assets/img/net.svg" alt="NET"></div>
      </div>
      <div class="satellite">
        <div class="glass-card"><img src="/assets/img/github.svg" alt="Github"></div>
      </div>
      <div class="satellite">
        <div class="glass-card"><img src="/assets/img/iis.svg" alt="IIS"></div>
      </div>
      <div class="satellite">
        <div class="glass-card"><img src="/assets/img/swagger.svg" alt="Swagger"></div>
      </div>
    </div>
  </div>
</section>