.image-particle-container {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 80vh;
  overflow: hidden;
}

#particlesCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#faceImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  max-width: 80%;
  z-index: 1;
  object-fit: contain;
}