<section class="timeline-container">
  <h1 L="work_experiences">Work Experiences</h1>
  <div class="timeline">
    <div class="timeline-spine"></div>

    <article class="timeline-item right">

      <img class="hover-image" src="/assets/img/makoto.jpg" alt="makoto">
      <div class="connector-group hover-company">
        <div class="dot"></div>
        <div class="connector-line"></div>
      </div>
      <div class="card hover-company">
        <span class="date" L="makoto_date"> March 2023 — March 2025</span>
        <h3 class="role" L="makoto_role">System Administrator</h3>
        <span class="company" L="makoto_company">Makoto Metal Technology INC.</span>
        <p class="description" L="makoto_description">
          Company Software Maintenance & Support.
        </p>
        <div class="tags">
          <span class="tag">VB.NET (WinForms)</span>
          <span class="tag">SQL</span>
          <span class="tag">Bitbucket</span>
          <span class="tag">SourceTree</span>
          <span class="tag"><em>June 2023 - 2025 "vibe coding"</em></span>
        </div>
      </div>
    </article>

    <article class="timeline-item left">

      <img class="hover-image" src="/assets/img/bp.png" alt="bp solutions">
      <div class="connector-group hover-company">
        <div class="dot"></div>
        <div class="connector-line"></div>
      </div>
      <div class="card hover-company">
        <span class="date" L="bp_date">September 2021 — December 2022</span>
        <h3 class="role" L="bp_role">SOFTWARE DEVELOPER</h3>
        <span class="company" L="bp_company">BP SOLUTIONS</span>
        <p class="description" L="bp_description_one">
          Web Application Development, Maintenance, & Support.
        </p>
        <p class="description" L="bp_description_two">
          Principle Position in the deployment of local web application —
          using Internet Information Services (I.I.S).
        </p>
        <div class="tags">
          <span class="tag">Angular</span>
          <span class="tag">ASP.NET Core</span>
          <span class="tag">C#</span>
          <span class="tag">VB.NET (WinForms)</span>
          <span class="tag">SQL</span>
          <span class="tag">IIS</span>
          <span class="tag">Github</span>
          <span class="tag" L="bp_tags"><em>No A.I used</em></span>
        </div>
      </div>
    </article>

    <article class="timeline-item right">

      <img class="hover-image" src="/assets/img/sss.png" alt="sss">
      <div class="connector-group hover-company">
        <div class="dot"></div>
        <div class="connector-line"></div>
      </div>
      <div class="card hover-company">
        <span class="date" L="sss_date"> February 2020 — March 2020 </span>
        <h3 class="role" L="sss_role">Office Clerk, Intern</h3>
        <span class="company" L="sss_company">Social Security System (S.S.S)</span>
        <p class="description"></p>
        <div class="tags">
        </div>
      </div>
    </article>

    <article class="timeline-item left">

      <img class="hover-image" src="/assets/img/trigon.png" alt="Philippine Trigon Shipyard Corporation">
      <div class="connector-group hover-company">
        <div class="dot"></div>
        <div class="connector-line"></div>
      </div>
      <div class="card hover-company">
        <span class="date" L="ptsc_date"> June 2019 — November 2019 </span>
        <h3 class="role" L="ptsc_role">Office Clerk, Intern</h3>
        <span class="company" L="ptsc_company">Philippine Trigon Shipyard Corporation</span>
        <p class="description"></p>
        <div class="tags">
        </div>
      </div>
    </article>

  </div>
</section>